DOMAIN_NAME=meziani.org
SUBDOMAIN=n8n
SSL_EMAIL=your-email@example.com
GENERIC_TIMEZONE=UTC
GITHUB_USERNAME=your-github-username  # Only needed if repo is private
GITHUB_TOKEN=your-github-token  # Only needed if repo is private
